.brandName {
  font-family: "Text Me One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #008080 !important;
}

.linkElement {
  font-family: "Sulphur Point", sans-serif;
  font-weight: 300 !important;
  font-style: normal;
}

